@import '../../variables';
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.feature-item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 20px;
  background-color: var(--color-secondary-dark);
}

.feature-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.feature-text {
  font-size: 12px;
  color: var(--color-primary-dark);
}
