:root {
  --color-primary-dark: #101828;
  --color-secondary-dark: #475467;
  --color-accent: #e44d48;
  --color-accent-light: #ffc531;
  --color-neutral-light: #f2f4f7;
  --color-neutral-white: #f7f7f7;
}
